@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.margin-auto {
    max-width: 1200px;
    margin: 0px auto;
}

.primary-color {
    color: #FF42A5;
}

/* navbar section */
nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 44px 0px;

}

.nav-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-logo-container p {
    font-size: 45px;
    font-weight: 700;
}

.nav-items-container .nav-list {
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
    font-size: 18px;
    margin-right: 32px;
}

/* banner section */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    background-image: url(../images/banner-background.png);
    gap: 68px;
}

.banner-content h3 {
    color: #0B0223;
    /* text-align: center; */
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h1 {
    /* text-align: center; */
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-content p {
    color: #534C64;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 500;
}

.banner-btn-1 {
    border-radius: 48px;
    background-color: #FF42A5;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    margin-top: 41px;
    text-transform: uppercase;
}

.banner-btn-2 {
    border-radius: 48px;
    background-color: #4EC5F7;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    margin-top: 41px;
    text-transform: uppercase;
}

/* gamer section */
.gamer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gamer-content img {
    width: 50%;
    gap: 52px;
}

.gamer-content-text h3 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    margin-top: 95px;
}

.gamer-content-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    padding-top: 24px;
}

.gamer-btn {
    border-radius: 48px;
    background-color: #FF42A5;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    margin-top: 32px;
    text-transform: uppercase;
}

.gamer-purpose {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
}

.unleash-gamer {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
}