@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.margin-auto {
    max-width: 1200px;
    margin: 0px auto;
}

.primary-color {
    color: #FF42A5;
}

/* navbar section */
nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 0px;

}

.nav-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-logo-container p {
    font-size: 45px;
    font-weight: 700;
}

.nav-items-container .nav-list {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-left: 32px;
}

.menu-btn {
    width: 262px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
}

.icon {
    margin-left: 16px;
}

/* banner section */
#banner-container {
    background-image: url('../images/banner-background.png');
    background-repeat: no-repeat;
    /* height: 700px; */
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-content p {
    color: #534C64;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.banner-content img{
    margin-right: 10px;
}

.banner-btn-1 {
    border-radius: 48px;
    background-color: #FF42A5;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    margin-top: 41px;
    text-transform: uppercase;
}

.banner-btn-2 {
    border-radius: 48px;
    background-color: #4EC5F7;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    margin-top: 41px;
    text-transform: uppercase;
}

.banner-img img {
    width: 650px;
}

/* gamer section */
.gamer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gamer-content img {
    width: 50%;
    gap: 52px;
}

.gamer-content-text h3 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
    margin-top: 95px;
}

.gamer-content-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    padding-top: 24px;
}

.gamer-btn {
    border-radius: 48px;
    background-color: #FF42A5;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    margin-top: 32px;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.gamer-purpose {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
}

.gamer-content-text {
    text-align: right;
}

.unleash-gamer {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
}

/* Online games Section */
.online-game-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 10px;
}

.funny-vedio {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-game-text {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}

.online-games-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.online-games-img img {
    width: 300px;
    height: 350px;
}

.online-games-img p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
}

.online-games-img1 {
    margin-right: 20px;
}

/* play-instant section */
.play-instant{
    margin-top: 120px;
}
.play-instant-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-instant-content {
    text-align: right;
    gap: 120px;
}

.play-instant-content h3 {
    font-size: 48px;
    font-weight: 700;
}

.play-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instant-content p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.play-instant-img {
    margin-bottom: 0px;
}

.play-img-1 {
    width: 634px;
    height: 650px;
    margin-left: 90px;
    margin-top: 50px;
}

.play-img-2 {
    width: 318px;
    height: 365px;
    position: relative;
    bottom: 250px;
}

/* icon section */
.btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 243px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
    border: 0;
}

.btn-content:hover {
    border: 2px solid #FF42A5;
}

.btn-content-Arcade {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
    border: 2px solid #FF42A5;
    margin-top: 0px;
    margin-left: 28px;
    margin-bottom: 28px;
}

.btn-content-Arcade p {
    color: #FF42A5;
    font-size: 18px;
    font-weight: 600;
    padding-left: 16px;
}

.icon-container {
    margin-bottom: 120px;
}

.icon-content-1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon-content {
    margin-left: 28px;
    margin-bottom: 28px;

}

.icon-content p {
    color: #0B0223;
    font-size: 18px;
    font-weight: 600;
    padding-left: 16px;
}

.icon-content img {
    padding: 10px;
}

.icon-content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer section */
.footer-section {
    text-align: center;
    background-color: #0B0223;
}

.footer-logo-container {
    padding-top: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo-container h3 {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}

.footer-logo-container img {
    width: 86.041px;
    height: 40px;
    margin-right: 20px;
}

.footer-Our-Story {
    margin-top: 56px;
}

.footer-Our-Story a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin-left: 60px;
}

.footer-icon {
    margin-top: 56px;
}

.footer-icon a {
    text-decoration: none;
    margin-left: 32px;
    width: 30px;
    margin-top: 56px;
}

.footer-Terms-and-Conditions {
    margin-top: 74px;
}

.footer-Terms-and-Conditions a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-left: 60px;
}

.footer-section p {
    padding-top: 28px;
    padding-bottom: 130px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}
/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px){
    nav{
        flex-direction: column;
    }
}